@charset "UTF8";

body {
    background-color: rgb(18, 51, 40);
}
nav{
    margin-right: 30px;
    background-color: rgb(206, 197, 197);
    padding: 10px;
    
}
h1 {
    text-align: center;
    background-color: aqua;
   padding: 1px;
    margin: 1px;
    border-radius: 10px;
}